.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.columns {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  padding-top: var(--token-dT-owZu8-6an);
  padding-bottom: var(--token-dT-owZu8-6an);
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
  margin-top: calc(0px - var(--token-oW80B2Q_Cufz));
  height: calc(100% + var(--token-oW80B2Q_Cufz));
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: var(--token-oW80B2Q_Cufz);
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__svySr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .column__svySr {
    width: 100%;
  }
}
.freeBox___70Mez {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___70Mez > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___70Mez > :global(.__wab_flex-container) > *,
.freeBox___70Mez > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___70Mez > :global(.__wab_flex-container) > picture > img,
.freeBox___70Mez
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ni5Xd {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__uhNIr:global(.__wab_instance) {
  position: relative;
}
.svg__csJw2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mniqD {
  height: auto;
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__vRinu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__rEeXi:global(.__wab_instance) {
  position: relative;
}
.svg__sHnjc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xINau {
  height: auto;
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zfIfc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___96Vj6:global(.__wab_instance) {
  position: relative;
}
.svg__ejyKq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rj4WC {
  height: auto;
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___2Bl2B {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__w6Cas:global(.__wab_instance) {
  position: relative;
}
.svg__wMqFs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lnH3V {
  height: auto;
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__vnBbv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__mqftu:global(.__wab_instance) {
  position: relative;
}
.svg__kyopu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__t3JOl {
  height: auto;
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pMoGe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__bz3Oh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__tbZte {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__tbZte > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tbZte > :global(.__wab_flex-container) > *,
.freeBox__tbZte > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tbZte > :global(.__wab_flex-container) > picture > img,
.freeBox__tbZte
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___0Fb7W {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__tXWlt:global(.__wab_instance) {
  position: relative;
}
.svg__c1Ay2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gWtv2 {
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xP8S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qqgA2:global(.__wab_instance) {
  position: relative;
}
.svg__bj7RV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ksIOd {
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rilI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ofU5B:global(.__wab_instance) {
  position: relative;
}
.svg__cvIyg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___861J {
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nbUzX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__wbqem:global(.__wab_instance) {
  position: relative;
}
.svg__b8Uef {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lsSwq {
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__oGfrs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___5X8Tu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .column___5X8Tu {
    width: 100%;
  }
}
.freeBox__buBXw {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__buBXw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__buBXw > :global(.__wab_flex-container) > *,
.freeBox__buBXw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__buBXw > :global(.__wab_flex-container) > picture > img,
.freeBox__buBXw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__nhZnn {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__yNkP:global(.__wab_instance) {
  position: relative;
}
.svg__sHO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lzaTj {
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__w2RCz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__io0Dk:global(.__wab_instance) {
  position: relative;
}
.svg__om0Xo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__chFBm {
  color: var(--token-LqpCVPPZF4_r);
  font-family: "Inter", sans-serif;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__mY36A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cAzG4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .column__cAzG4 {
    width: 100%;
  }
}
.freeBox__ctZe0 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ctZe0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ctZe0 > :global(.__wab_flex-container) > *,
.freeBox__ctZe0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ctZe0 > :global(.__wab_flex-container) > picture > img,
.freeBox__ctZe0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__nKgYp {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__fTjOr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LqpCVPPZF4_r);
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.freeBox___42OaU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px var(--token-Tf_KtjkxGdsv);
}
.freeBox___42OaU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-oYI7ebdZitcv));
  height: calc(100% + var(--token-oYI7ebdZitcv));
}
.freeBox___42OaU > :global(.__wab_flex-container) > *,
.freeBox___42OaU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___42OaU > :global(.__wab_flex-container) > picture > img,
.freeBox___42OaU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-oYI7ebdZitcv);
}
.text__d71KR {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  color: var(--token-LqpCVPPZF4_r);
  min-width: 0;
}
.text__wu7Up {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  color: var(--token-LqpCVPPZF4_r);
  min-width: 0;
}
