.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-6Lhw5mK6wolF);
  position: relative;
  padding: var(--token-oYI7ebdZitcv) var(--token-Tf_KtjkxGdsv);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - var(--token-cSJ2BJk-9JCq));
  width: calc(100% + var(--token-cSJ2BJk-9JCq));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-cSJ2BJk-9JCq);
}
.img__qdVRr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qdVRr > picture > img {
  object-fit: cover;
}
.img__qdVRr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-weight: 700;
  color: var(--token-pRs3-4jrQ4XQ);
}
