.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: var(--token-Kzvu_5ZcCKzb) 0px 0px;
}
.freeBox__gT7Mc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 5;
  min-width: 0;
  padding: 0px;
}
.h6 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-transform: uppercase;
}
.button__lPnyM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__y3Kd7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  text-transform: uppercase;
  font-size: var(--token-o0Nl0Hefncwa);
  font-weight: 400;
}
.svg__gyYet {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___2Dvbu {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 60px;
  z-index: 3;
  background: var(--token-jgohepLVeKvh);
  right: 0;
  bottom: 0;
  padding: var(--token-02IfQLozsPKb) var(--token-Tf_KtjkxGdsv);
}
.freeBox___2Dvbu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-Kzvu_5ZcCKzb));
  height: calc(100% + var(--token-Kzvu_5ZcCKzb));
}
.freeBox___2Dvbu > :global(.__wab_flex-container) > *,
.freeBox___2Dvbu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Dvbu > :global(.__wab_flex-container) > picture > img,
.freeBox___2Dvbu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Kzvu_5ZcCKzb);
}
.freeBox__dptPn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___70E9I {
  font-size: var(--token-bucIARGmMoc6);
}
.link__xsiXj {
  font-size: var(--token-bucIARGmMoc6);
  position: relative;
}
.link__nOMlJ {
  font-size: var(--token-bucIARGmMoc6);
  position: relative;
}
.link__ynKzz {
  font-size: var(--token-bucIARGmMoc6);
  position: relative;
}
.button__qyWZt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fofIh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zas8G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
